# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
#Gianni added:
docs/__static/
docs/_templates/


# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/
virt_env*/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Gianni stuff
tests/RADEX_test_cases/radex.in
tests/Radex
manual_tests_and_benchmarks/lime/lime-master
manual_tests_and_benchmarks/lime/template_model.c
manual_tests_and_benchmarks/molpop-cep_benchmark/Gianni_models/*.out
manual_tests_and_benchmarks/molpop-cep_benchmark/molpop
manual_tests_and_benchmarks/molpop-cep_benchmark/molpop-cep-master
manual_tests_and_benchmarks/benchmarking_vs_RADEX_and_LIME/*.fits
manual_tests_and_benchmarks/performance_tests/radex_test_preformance.inp
manual_tests_and_benchmarks/performance_tests/radex_test_performance.out
manual_tests_and_benchmarks/performance_tests/pythonradex_vs_radex/*.out
manual_tests_and_benchmarks/performance_tests/pythonradex_vs_radex/radex_test_preformance.inp
manual_tests_and_benchmarks/performance_tests/pythonradex_vs_radex/test_radex_mini_wrapper.inp
docs/notebooks/test.inp
docs/notebooks/test.out
docs/notebooks/radex_log.txt
documents
**/radex.out
.pytest_cache
updating_pythonradex.txt
